name: Pull Request publish

on:
  issue_comment:
    types: [created]

env:
  # TODO: Change variable to your image's name.
  DOCKERHUB_IMAGE_NAME: thomx/fr24feed-piaware
  GHCR_IMAGE_NAME: thom-x/docker-fr24feed-piaware-dump1090

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/

  is_deploy_comment:
    outputs:
      is_deploy: ${{ steps.check.outputs.triggered }}
    # Ensure test job passes before pushing image.
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request
    steps:
      - name: If deploy comment
        env:
          COMMENT: ${{ github.event.comment.body }}
        id: check
        run: |
          if [[ "${COMMENT}" == "@deploy" ]]; then
            echo "Proceeding..."
            echo "triggered=true" >> $GITHUB_OUTPUT
          else
            echo "triggered=false" >> $GITHUB_OUTPUT
            curl -f -s -L \
              -X POST \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              https://api.github.com/repos/${{ github.repository }}/actions/runs/${{ github.run_id }}/cancel
              sleep 60s
              exit 42
          fi

  # Push images to GitHub Packages and Docker Hub for each architecture.
  push:
    needs: is_deploy_comment
    if: needs.is_deploy_comment.outputs.is_deploy == 'true'
    environment: docker
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: linux/amd64
            archname: amd64
            os: ubuntu-22.04
          - arch: linux/arm/v7
            archname: arm-v7
            os: ubuntu-22.04-arm
          - arch: linux/arm64
            archname: arm64
            os: ubuntu-22.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: 'refs/pull/${{ github.event.issue.number }}/merge'
      - name: Get commit
        id: get_commit
        run: |
          echo "sha_short=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: 'tonistiigi/binfmt:latest'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ matrix.archname }}-buildx-${{ steps.get_commit.outputs.sha_short }}
          restore-keys: |
            ${{ matrix.archname }}-buildx-
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get tags list
        id: tags
        run: |
          if [[ "${{ matrix.archname }}" == "amd64" ]]; then
            TAGS=$DOCKERHUB_IMAGE_NAME:PR-${{ github.event.issue.number }},$DOCKERHUB_IMAGE_NAME:PR-${{ github.event.issue.number }}-${{ matrix.archname }},ghcr.io/$GHCR_IMAGE_NAME:PR-${{ github.event.issue.number }},ghcr.io/$GHCR_IMAGE_NAME:PR-${{ github.event.issue.number }}-${{ matrix.archname }}
          else
            TAGS=$DOCKERHUB_IMAGE_NAME:PR-${{ github.event.issue.number }}-${{ matrix.archname }},ghcr.io/$GHCR_IMAGE_NAME:PR-${{ github.event.issue.number }}-${{ matrix.archname }}
          fi
          echo TAGS=$TAGS
          echo "tags=$TAGS" >> $GITHUB_OUTPUT
      - name: Build and push
        id: docker-build-push
        uses: docker/build-push-action@v6
        with:
          context: .
          provenance: false
          file: ./Dockerfile
          platforms: ${{ matrix.arch }}
          push: true
          tags: ${{ steps.tags.outputs.tags }}
          outputs: type=docker,dest=${{ runner.temp }}/${{ steps.get_commit.outputs.sha_short }}-${{ matrix.archname }}.tar
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.get_commit.outputs.sha_short }}-${{ matrix.archname }}
          path: ${{ runner.temp }}/${{ steps.get_commit.outputs.sha_short }}-${{ matrix.archname }}.tar
    outputs:
      sha_short: ${{ steps.get_commit.outputs.sha_short }}
  # Push images to GitHub Packages and Docker Hub in a single image
  pushmanifest:
    needs: push
    environment: docker
    runs-on: ubuntu-22.04
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Download artifact amd64
        uses: actions/download-artifact@v5
        with:
          name: ${{ needs.push.outputs.sha_short }}-amd64
          path: ${{ runner.temp }}
      - name: Download artifact arm-v7
        uses: actions/download-artifact@v5
        with:
          name: ${{ needs.push.outputs.sha_short }}-arm-v7
          path: ${{ runner.temp }}
      - name: Download artifact arm64
        uses: actions/download-artifact@v5
        with:
          name: ${{ needs.push.outputs.sha_short }}-arm64
          path: ${{ runner.temp }}
      - name: Load image
        run: |
          docker load --input ${{ runner.temp }}/${{ needs.push.outputs.sha_short }}-amd64.tar
          docker load --input ${{ runner.temp }}/${{ needs.push.outputs.sha_short }}-arm-v7.tar
          docker load --input ${{ runner.temp }}/${{ needs.push.outputs.sha_short }}-arm64.tar
      - name: Images setup docker.io
        id: image-setup-dockerhub
        run: |
          tags=$DOCKERHUB_IMAGE_NAME:PR-${{ github.event.issue.number }}
          inputs=$DOCKERHUB_IMAGE_NAME:PR-${{ github.event.issue.number }}-arm64,$DOCKERHUB_IMAGE_NAME:PR-${{ github.event.issue.number }}-arm-v7,$DOCKERHUB_IMAGE_NAME:PR-${{ github.event.issue.number }}-amd64
          echo "tags=$tags" >> $GITHUB_OUTPUT
          echo "inputs=$inputs" >> $GITHUB_OUTPUT
      - name: Create and push manifest images docker.io
        uses: Noelware/docker-manifest-action@v1
        with:
          tags: ${{ steps.image-setup-dockerhub.outputs.tags }}
          inputs: ${{ steps.image-setup-dockerhub.outputs.inputs }}
          push: true
      - name: Images setup ghcr.io
        id: image-setup-ghcr
        run: |
          tags=ghcr.io/$GHCR_IMAGE_NAME:PR-${{ github.event.issue.number }}
          inputs=ghcr.io/$GHCR_IMAGE_NAME:PR-${{ github.event.issue.number }}-arm64,ghcr.io/$GHCR_IMAGE_NAME:PR-${{ github.event.issue.number }}-arm-v7,ghcr.io/$GHCR_IMAGE_NAME:PR-${{ github.event.issue.number }}-amd64
          echo "tags=$tags" >> $GITHUB_OUTPUT
          echo "inputs=$inputs" >> $GITHUB_OUTPUT
      - name: Create and push manifest images ghcr.io
        uses: Noelware/docker-manifest-action@v1
        with:
          tags: ${{ steps.image-setup-ghcr.outputs.tags }}
          inputs: ${{ steps.image-setup-ghcr.outputs.inputs }}
          push: true
