name: Pull Request

# Run tests for any PRs.
on: pull_request

env:
  # TODO: Change variable to your image's name.
  IMAGE_NAME: thomx/fr24feed-piaware
  PR_NUMBER: ${{ github.event.pull_request.number }}

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  test:
    strategy:
      matrix:
        architecture: ["linux/amd64", "linux/arm/v6", "linux/arm/v7", "linux/arm64"]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ matrix.architecture }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ matrix.architecture }}-buildx-
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ matrix.architecture }}
          push: false
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
